snippet "m "\" {{{ ${0} }}}" b
" ${1:name} {{{
${0}
" $1 }}}
endsnippet

snippet #m "\" {{{ ${0} }}} with #" b
# ${1:name} {{{
${0}
# $1 }}}
endsnippet

snippet "= "\"===================== MAPPINGS ======================" b
"=====================================================
"===================== ${1} ======================
${0}
endsnippet

